.body{
    background-color: lightslategrey;
}
.first{
    border: 5px solid orangered;
    background-color: white;
    width: 500px;
    text-align: center;
    color: maroon;
    font-style: italic;
    padding-top: 20px;
    position: relative;
    left: 500px;
    border-radius: 20px;
    font-size: 25px;
}
.body2{
    border: 5px solid green;
    height: 750px;
}
.box1{
    border: 5px solid orangered;
    background-color: white;
    width: 300px;
    color: blue;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
}
.box2{
    border: 5px solid orangered;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    left: 1100px;
    bottom: 250px;
    background-color: white;
    text-align: center;
}
.img{
    border: 1px solid black;
    position: relative;
    top: 40px;
}
.boxm{
    border: 5px solid orangered;
    width: 500px;
    height: 50px;
    background-color: yellowgreen;
    font-style: italic;
    text-align: center;
    position: fixed;
    bottom: 200px;
    left: 500px;
    border-radius: 10px;
}
.b1{
    position: relative;
    right: 20px;
}
.box3{
    border: 5px solid orangered;
    width: 300px;
    height: 200px;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
}
.form{
    border: 5px solid orangered;
    background-color: white;
    color: blue;
    width: 300px;
    height: 200px;
    position: relative;
    left: 1100px;
    bottom: 220px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.submit{
    background-color: brown;
}
.enter{
    text-align: center;
}
.bigbox{
    border: 5px solid purple;
    width: 800px;
    height: 570px;
    background-color: seagreen;
    position: relative;
    left: 300px;
    text-align: center;
}
.leftbox{
    border: 0px;
    width: 390px;
    height: 250px;
    background-color: rgb(245, 245, 137);
    text-align: center;
    font-style: italic;
}
.rightbox{
    border: 0px;
    width: 390px;
    height: 250px;
    background-color: rgb(245, 245, 137);
    text-align: center;
    font-style: italic;
    position: relative;
    bottom: 270px;
    left: 410px;
}
.downbox{
    border: 0px;
    background-color: rgb(245, 245, 137);
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 250px;
}
.t1{
    color: red;
   position: relative;
   right: 140px;
   top: 10px;
   font-size: larger;
}
.t2{
    color: red;
    position: relative;
    left: 90px;
    bottom: 30px;
    font-size: larger;
}
